<h1><%= @post.title %></h1>
<p class="cmmnent-content"><%= @post.content %></p>

<ul class="comments-list">
  <% @post.comments.each do |comment| %>
    <li class="comment-item">
      <p class="comment-content"><%= comment.content %></p>
      <span class="comment-date"><small><%= comment.created_at %></small></span>
      <%= button_to '削除', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button' %>
    </li>
  <% end %>
</ul>


<%= form_with(model: [@post, @post.comments.build], local: true, html: { class: 'form-container' }) do |form| %>
  <div class="form-input">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class="button-container">
    <%= form.submit 'Create Comment', class: 'link-button' %>
  </div>
<% end %>

<div class="button-container">
  <%= link_to 'Back to Posts', posts_path, class: 'link-button' %>
</div>


